<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Privacy Policy</title>
  </head>
  <body>
    <h1>Privacy Policy</h1>
    <p>Last revised 17AUG2020</p>
    <h2>Super-simple no-nonsense privacy policy</h2>
    <p>The community that maintains this Slack integration will do our level best to avoid collecting, retaining, communicating, or using any of your data other than as strictly necessary for the operation and improvement of this integration.</p>
    <p>We may periodically review the corresponding checkphish.ai dashboard for URLs submitted with this integration.</p>
    <p>We may temporarily log server access for diagnostic and administrative purposes (including the contents of each slash command sent to this integration), we may review those logs periodically, and retain those logs in accordance with our hosting providers' default log retention configuration.</p>
    <p>We may revise this privacy policy from time to time.</p>
    <p>We currently use Google for hosting this service, which connects Slack to Bolster's CheckPhish API, so if you're interested in using this integration, you may wish to also review <a href="https://slack.com/privacy-policy">Slack's Privacy Policy</a>,
    <a href="https://checkphish.ai/privacy-policy/">CheckPhish's Privacy Policy</a>, and <a href="https://cloud.google.com/logging/quotas#logs_retention_periods">Google's Log Retention configuration</a>.</p>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
