<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; 2020 Tim Johns</p>
    <p>Visit <a href="https://checkphish.ai/">CheckPhish.ai</a> for more information about <a href="https://bolster.ai">Bolster's</a> free URL scanner to detect phishing and fraudulent sites.</p>
  </div>
</footer>

