<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">This app is a community-built Slack integration of the <a href="https://checkphish.ai/checkphish-api">CheckPhish API</a> from <a href="https://bolster.ai">Bolster</a>. Please consider joining the <a href=https://checkphish.slack.com>CheckPhish community Slack workspace</a>. This project is hosted, supported, run, and maintained by Tim Johns. Please contact Tim for more information, including how to contribute to this project.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://twitter.com/BolsterAI" class="text-white">Follow Bolster on Twitter</a></li>
            <li><a href="https://twitter.com/TimJohnsWA" class="text-white">Follow Tim on Twitter</a></li>
            <li><a href="mailto:tim+aboutcheckphishslackapp@timjohns.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Community-Built Slack App for CheckPhish</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
